<br><a class="login" href="/login-via-github">* Login via Github! *</a>

<div class="party">
  <button class="party">Go Wild</button>
</div>

<div class="new-bear">
  <h3>MAKE A BEAR:</h3>
  <form method="POST" action="/bears">
    <input type="text" name="name" placeholder="name" value="Wildford">
    <input type="text" name="color" placeholder="color" value="Pepperoni">

    <p><strong>Type:</strong></p>
    <input type="radio" name="species" value="flying" checked ><label> flying</label>
    <input type="radio" name="species" value="space"><label> space</label>
    <input type="radio" name="species" value="perturbed"><label> perturbed</label>

    <input type="submit" value="Go!">
  </form>
</div>

<a href="/bears">See All Bears</a>

<div class="brick template">

</div>

<div class="track">

</div>
